.centerDiv {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    
    text-align: center; 
    font-family: "Sedan SC", serif;
    margin: 0;
}
.mainImg{
    border-radius: 20px;
    margin: 0;
    padding: 0
}
.imgOfSight{
    width: 40%;
    height: 40%;
    border-radius: 20px;
    margin: 0;
    padding: 0
}
